<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %} - 我的商店</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <nav>
        <ul>
            <li><a href="{{ url_for('home') }}">首頁</a></li>
            <li><a href="{{ url_for('products') }}">商品列表</a></li>
            <li><a href="{{ url_for('cart') }}">購物車</a></li>
        </ul>
    </nav>
    
    <main>
        {% block content %}
        {% endblock %}
    </main>

    <script src="{{ url_for('static', filename='js/product.js') }}"></script>
    <script src="{{ url_for('static', filename='js/cart.js') }}"></script>
</body>
</html>